.records-table td, .records-table th, .records-table span {
  padding: 0;
  margin: 0;
  font-size: 11px;
}

.records-table td a {
  text-decoration: none;
}

.records-table {
  border: 1px solid var(--fs-border-default);
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.boxlistcontent .records-table {
  border: 0 none;
}

.records-table thead td {
  border-left: 1px solid var(--fs-border-default);
  color: var(--fs-color-primary-400);
  font-size: 11px;
  font-weight: bold;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  height: 10px;
}

.records-table.sortheader thead td {
  padding: 0;
}

.records-table thead td a, .records-table thead td span {
  color: var(--fs-color-primary-400);
  display: block;
  overflow: hidden;
  padding: 7px;
  text-decoration: none;
  text-overflow: ellipsis;
}

.records-table tbody td {
  background-color: var(--fs-color-light);
  border-bottom: 1px solid var(--fs-color-gray-200);
  border-left: 1px dotted var(--fs-border-default);
  cursor: default;
  overflow: hidden;
  padding: 2px 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.records-table thead tr td:first-child, .records-table tbody tr td:first-child {
  border-left: 0 none;
}

.records-table tr.selected td {
  background-color: var(--fs-color-primary-500);
  color: var(--fs-color-light) !important;
}

.records-table tr.selected td a, .records-table tr.selected td span {
  color: var(--fs-color-light) !important;
}

.records-table tr.unfocused td {
  background: none repeat scroll 0 0 var(--fs-color-info-300) !important;
  color: var(--fs-color-light) !important;
}

.records-table tr.unfocused td a, .records-table tr.unfocused td span {
  color: var(--fs-color-light) !important;
}

.records-table tr.deleted td, .records-table tr.deleted td a {
  color: var(--fs-color-gray-200) !important;
}

.records-table td.status {
  width: 20px;
}

.records-table td.attachment {
  width: 30px;
}

.records-table td.from {
  width: 200px;
}

.records-table td.date {
  width: 125px;
}

.records-table td.status {
  border-left: 0;
}

.buttonbar {
  float: right;
}

.header .label {
  width: 100px;
}

.header .data {
  font-weight: bold;
}

.mailbox-body {
  overflow: auto;
  margin-top: 10px;
  padding: 5px;
  box-shadow: inset 0 0 3px var(--fs-color-primary-500);
  background-image: url(/img/icon-mail/attach-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
  margin-top: 10px;
  padding: 5px;
}

.edit-body {
  background-color: var(--fs-color-light);
  margin-top: 10px;
  padding: 5px;
  border: 0;
  box-shadow: inset 0 0 3px var(--fs-color-primary-500);
  font-size: 14px;
}

.von-select {
  width: 407px;
  padding: 3px;
  background-color: var(--fs-color-light);
  border: 1px solid var(--fs-border-default);
}

td.data input.data {
  width: 400px;
  padding: 3px;
  margin-top: 3px;
  background-color: var(--fs-color-light);
  border: 1px solid var(--fs-border-default);
}

.message.read-0 td {
  font-weight: bold;
}

span.status {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 5px;
}

span.status.a-check {
  background-image: url(/img/icon-mail/attach.png);
}

span.status.read-0 {
  background-image: url(/img/icon-mail/new.png);
}

span.status.answer-1 {
  background-image: url(/img/icon-mail/reply.png);
}

#mailattch {
  background-color: var(--fs-color-light);
  overflow: auto;
  margin-top: 10px;
  height: 23px;
  padding: 5px;
  box-shadow: inset 0 0 3px var(--fs-color-primary-500);
}

#mailattch ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#mailattch ul li {
  display: block;
  list-style: none;
  float: left;
  padding: 0;
  margin: 0 5px 0 0;
}

#mailattch ul li a {
  display: block;
  float: left;
  padding: 3px 6px 3px 20px;
  background-image: url(/img/icon-mail/attach.png);
  background-repeat: no-repeat;
  background-position: 2px 4px;
  text-decoration: none;
  font-weight: bold;
}

#mailattch ul li a:hover {
  background-color: var(--fs-color-primary-500);
  color: var(--fs-color-light);
}

table.edit-table {
  margin: 0;
  padding: 0;
  width: 100%;
}

.et-left {
  width: 760px;
}

.et-right {
  padding-left: 10px;
  text-align: left;
  vertical-align: top;
}

.et-right div.wrapper {
  overflow: hidden;
  width: 185px;
  margin-left: 10px;
}

div.et-filebox {
  text-align: center;
}

div.et-filebox .input-wrapper label.wrapper-label {
  display: none;
}

#etattach-info {
  display: none;
}

table.edit-table iframe {
  visibility: hidden;
}

ul#et-file-list {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
  overflow: hidden;
}

ul#et-file-list li {
  display: block;
  list-style: none;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-image: url(/img/icon-mail/attach-loader.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: 0 0 4px;
  width: 170px;
  padding: 0 0 0 20px;
}

ul#et-file-list li.finish {
  background-image: url(/img/icon-mail/check-attach.png);
}
